* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  min-width: 186px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 27px;
  border-radius: 14px;
  color: #fff;
  background: #1ebfc1;
  text-align: center;
  padding: 20px 0;
}

.btn:hover {
  opacity: 0.9;
}
/* === Header === */
.header-fixed {
  margin-top: 52px;
}
.header-fixed .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body .list-item {
  display: flex;
}
.body .list-item li {
  padding: 0 10px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 24px;
  color: #2f3a3b;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta span {
  margin-right: 24px;
}

.cta__btn {
  min-width: 108px;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
  color: #1ebfc1;
  font-weight: 600;
  line-height: 48px;
  font-size: 1.6rem;
  text-align: center;
}

/* Hero */
.hero {
  margin-top: 50px;
  height: 100vh;
}

.hero__main-content .body {
  display: flex;
}
/* Hero-left */

.hero-left {
  width: 46%;
}

.hero-left__easy {
  margin-top: 93px;
}

.hero-left__easy span {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 21px;
  color: #767e7e;
}

.hero-left__title {
  width: 458px;
  margin-top: 18px;
  font-size: 6.2rem;
  font-weight: 700;
  color: #0d1111;
}

.hero-left__desc {
  width: 374px;
  margin-top: 46px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 32px;
  color: #9da6a5;
}

.hero-left__cta {
  position: absolute;
  margin-top: 52px;
}

.hero-left__btn {
  margin-right: 50px;
}

.cta__play {
  box-shadow: 0px 22px 50px 0px #0000000d;
  background: #ffffff;
  padding: 10px;
}
/* hero-right */

.hero-right {
  position: relative;
  width: 54%;
}

.hero-right__img {
  position: relative;
  position: absolute;
  right: 0;
  width: 576px;
  height: 631px;
  object-fit: cover;
  background: #e0f7f6;
}

.add-right {
  position: absolute;
  top: 149px;
  background: orange;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  z-index: 1;
}

.add-right__info {
  width: 107px;
  height: 40px;
}

.add-right__box {
  width: 36px;
  height: 40px;
  background: #ff8282;
  border-radius: 5px;
}

/* features */
.features {
  margin-top: 130px;
  height: 559px;
}

.header__info {
  width: 590px;
}

.header__sub-title {
  display: inline;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 18px;
  color: #767e7e;
}

.header__title {
  margin-top: 18px;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 56px;
  color: #0d1111;
}

.header__desc {
  margin-top: 18px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 27px;
  color: #767e7e;
}

.features__list-item {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.features .info__item {
  width: 168px;
}

.features .info__img {
  padding: 27px 25px;
  border-radius: 16px;
  background: #ffc147;
}

.features .info__img.img2 {
  background: #ff947a;
}

.features .info__img.img3 {
  background: #bf83ff;
}

.features .info__watch {
  margin-top: 26px;
  font-weight: 600;
  font-size: 2rem;
  line-height: 30px;
  color: #0d1111;
}

.features .info__desc {
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 27px;
  color: #9da6a5;
}

/* popular */
.popular {
  margin-top: 130px;
}

.popular__header {
  position: relative;
  height: 182px;
  background: #fff;
}

.popular__desc {
  width: 590px;
}

.popular__header--link {
  position: absolute;
  right: 0;
  bottom: 22px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #1ebfc1;
}

.popular__desc {
  line-height: 32px;
}

.popular__list-item {
  display: flex;
  justify-content: space-between;
  margin-top: 79px;
}

.popular__list-item .item {
  width: 359px;
  height: 517px;
  display: flex;
  position: relative;
}

.popular__img {
  position: absolute;
  width: 359px;
  height: 393px;
  object-fit: cover;
}

.item__info {
  width: 325px;
  height: 195px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px #0000000d;
  border-radius: 8px;
  margin: 0 auto 0;
}

.info1,
.info2,
.info3 {
  position: absolute;
  bottom: 0;
  left: 17px;
}

.item__wage {
  padding: 18px 25px 29px;
}

.item__sub-title {
  font-weight: 700;
  font-size: 2.2rem;
  color: #0d1111;
}

.item__info--dolar {
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.6rem;
  color: #909090;
}

.item__info--dolar span {
  color: #0d1111;
  font-weight: 700;
  font-size: 2.2rem;
}

.item__desc {
  margin-top: 6px;
  font-weight: 400;
  font-size: 1.4rem;
  color: #9da6a5;
  line-height: 21px;
}

.item__date {
  display: flex;
  margin-top: 18px;
  font-weight: 400;
  font-size: 1.4rem;
  color: #9da6a5;
  align-items: center;
}

.item__date-left {
  margin-right: 13px;
}

.item__circle {
  margin-right: 8px;
  display: block;
  width: 6px;
  height: 6px;
  background: #1ebfc1;
  border-radius: 50%;
}

/* report */
.report {
  width: 862px;
  height: 131px;
  margin: 265px 289px 0;
}

.report__list {
  display: flex;
  justify-content: space-between;
}

.report__info {
  font-weight: 700;
  font-size: 6.2rem;
  color: #0d1111;
}

.report__desc {
  margin-top: 11px;
  font-weight: 400;
  font-size: 1.8rem;
  color: #767e7e;
}

/* Feedback */

.feedback {
  margin-top: 264px;
}

.feedback__main-content {
  display: flex;
}

.feedback__uni {
  margin-top: 33px;
}

.feedback__desc {
  margin-top: 27px;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 48px;
  color: #5d6564;
}

.feeback__info {
  width: 419px;
  height: 407px;
  margin-right: 72px;
}
.feedback__img {
  position: relative;
  width: 679px;
  height: 481px;
}

.feedback__student {
  margin-top: 33px;
  display: flex;
  align-items: center;
}

.feedback__student span {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 24px;
}

.feedback__rectangle {
  margin-right: 5px;
  display: block;
  width: 8px;
  height: 2px;
  background: #070707;
}

.arrow {
  margin-top: 52px;
}

.arrow-left {
  margin-right: 30px;
}

.arrow-contact {
  padding: 19px 22px;
  border-radius: 50%;
  background: #2ac9bf;
}

.avartar {
  position: absolute;
  right: 171px;
  top: 107px;
  border-radius: 50%;
  background: #ff8282;
  width: 235px;
  height: 235px;
}

.feedback__image {
  position: absolute;
  border-radius: 50%;
  width: 78px;
  height: 78px;
}

.img__avartar2 {
  right: 443px;
  top: 0;
  background: #1ebfc1;
  width: 92px;
  height: 92px;
}

.img__avartar3 {
  width: 110px;
  height: 110px;
  right: 0;
  top: 17px;
  background: #bf83ff;
}

.img__avartar4 {
  left: 0;
  bottom: 145px;
  background: #ffc147;
}

.img__avartar5 {
  bottom: 0;
  right: 389px;
  background: #ff947a;
}

.img__avartar6 {
  right: 32px;
  bottom: 29px;
  background: #b1dfdc;
}

/* contact */
.contact {
  display: flex;
  align-items: center;
  margin-top: 130px;
  height: 227px;
  background: #def6f5;
}

.contact__main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 108px;
  padding: 76px;
}

.contact__btn {
  width: 186px;
}

.contact__title {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 63px;
}

.contact__desc {
  margin-top: 18px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 27px;
}
